# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:الأرقام نوع من انواع البيانات الموجدة في البايثون ومنه الإرقام صحيحة وأرقام عشرية ويمكننا أستخدامها لإجراء العمليات الحسابية

Strings:السلاسل النصية نوع من أنواع البيانات يتستقبل أي قيمة سواء حروف رموز أرقام  وفي حالة أستقبل أرقام يتم معاملتها كأنها سلسلة نصية وليست أرقام بمعنى لايمكن إجراء العمليات الحسابية عليها, وبه العديد من الدوال منها تكبير الحروف , وتصغير, ومعرفة طول السلسلة, 
وغيرها

Lists:القوائم هي عبارة عن هياكل بيانات وتستقبل عدة قيم بداخلها وليس شرط ان تكون كل القيم من واحد, بمعني تستقبل ارقام وحروف ومتغيرات منطقية ويمكننا تعديل عليه وتستخدم عدة دوال منها اضافة الحذف وهي من نوع البيانات mutable 

Tuples:الصفوف نوع من هياكل البيانات وهيا مشابهة للقوائم, ولكن تختلف في ان الصفوف لايمكننا التعديل في قيمها وتغيرهن لإنها:immutable

Dictionaries:القواميس هي عبارة عن هياكل بيانات وتكون في تركيبها مختلفة عن القوائم والصفوف, يحتوي القاموس على مفتاح وقيمة بمعنى كل مفتاح يشير على قيمة معين داخل القاموس

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [4]:
#re
10e1 +0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    #re=44
    What is the value of the expression 4 * 6 + 5 
    #re=29
    What is the value of the expression 4 + 6 * 5 
    #re=34

ex1: re = 44
ex2: re = 29
ex2: re = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
re= float

What would you use to find a number’s square root, as well as its square?

In [ ]:
# Square root:
#re
methode squary()

In [ ]:
# Square:

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [2]:
s = 'hello'
# Print out 'e' using indexing

#re 
s[1]

'e'

Reverse the string 'hello' using slicing:

In [17]:
s ='hello'
# Reverse the string using slicing

#re
s[::-1]

'olleh'

In [ ]:
# Given the string hello, give two methods of producing the letter 'o' using indexing.

In [1]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [2]:
# Method 2:

s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [19]:
# Method 1:
m1=[0,0,0]
m1

[0, 0, 0]

In [21]:
# Method 2:
m2=["0","0","0"]
m2

['0', '0', '0']

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [48]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = "goodbya"
list3

[1, 2, [3, 4, 'goodbya']]

Sort the list below:

In [20]:
list4 = [5,3,4,6,1]

#re
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [22]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [5]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d.items()
d['k1']['k2']

'hello'

In [5]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d['k1'][0]['nest_key'][1]
#Grab hello

['hello']

In [14]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

#Can you sort a dictionary? Why or why not?<br><br>
لا يمكن ترتيب القواميس بإستخدام الدوال, مثل أنواع هياكل البيانات الأخرى التي تحتوي على دوال خاص لترتيب العناصر.

## Tuples

# What is the major difference between tuples and lists?<br><br>
الفرق الأساسي بين list & tuple:
هو في امكانية التعديل في محتوى, في لستا يمكننا التعديل وتغير في قيمة عنصر وتغيره قيمته بقيمة جديدة, ولكن في تابل لانستطيع تغير في محتواها لإنها من نوع بيانات immutable, ,ولستا من نوع mutable نستطيع تعديل في محتواها.

In [16]:
# How do you create a tuple?<br><br>
ta = ("a","b","c")

## Sets

In [ ]:
# What is unique about a set?<br><br>
في المجموعة حثى اذا متكرر العنصر لايحسبه يأخد قيمة واحدة فقط

Use a set to find the unique values of the list below:

In [43]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set1 = set(list5)
set1

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [89]:
# Answer before running cell
2 > 3
#re 
false

False

In [91]:
# Answer before running cell
3 <= 2
#re
false

False

In [93]:
# Answer before running cell
3 == 2.0
#re
false

False

In [96]:
# Answer before running cell
3.0 == 3
#re
true

True

In [94]:
# Answer before running cell
4**0.5 != 2
#re
false

False

Final Question: What is the boolean output of the cell block below?

In [97]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

#re
false

False

# Great Work!